[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/mannepax
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mannepax
	label-Verified = -1..+1 group user/mannepax
	push = group user/mannepax
	read = group user/mannepax
	rebase = group user/mannepax
	removeReviewer = group user/mannepax
	submit = group user/mannepax
[access "refs/heads/*"]
	create = group user/mannepax
	push = +force group user/mannepax
	pushMerge = group user/mannepax
	read = group user/mannepax
[access "refs/tags/*"]
	push = group user/mannepax
	push = +force group user/mannepax
